
    .custom-form {
        background-color: #f9f9f9;
        border-radius: 10px;
        padding: 30px;
        margin-top: 30px;
    }

    .label-meal-fields {
        font-weight: bold;
    }

    .label-items {
        font-weight: normal;
    }

    .label-fields {
        font-weight: bold;
        margin-top: 10px;
    }

    .delivery-method-label {
        font-weight: normal;
    }

    .payment-label {
        font-weight: normal;
    }

    .qr-code {
        margin-top: 20px;
        max-width: 100%;
    }


    /* button tobble for mobile or laptop: */

    /* Hide mobile button initially */
.mobile {
    display: none;
}

/* Media query to show/hide buttons based on screen size */
@media (max-width: 768px) {
    /* Show mobile button and hide laptop button on smaller screens */
    .laptop {
        display: none;
    }

    .mobile {
        display: block;
    }
}
